body{
  font-family: Helvetica;
  font-size: 16pt;
}

code.r{
  font-size: 13px;
}

pre {
  font-size: 13px
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color:black;
}

.nav-pills>li>a{
  border: 1px solid #337ab7;
  border-radius:4px;
}

.nav>li[class = 'active']>a {
  font-weight:bold;
  background-color:#00BFFF !important;
}

table {
  background-color: white !important;
  color: black !important;
  border-collapse:separate;
  border:solid black 1px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  font-size:13px;
}

#logo {
  margin-left:-120px;
}

.shiny-input-panel{
  padding: 0px 0px !important;
}

p.caption {
  font-size: 15px;
  margin-left:-80px;
}
