body{
  font-family: Helvetica;
  font-size: 16pt;
}

code.r{
  font-size: 13px;
}

pre {
  font-size: 13px
}

.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
color:#FF00FF;
}

.nav>li[class = 'active']>a {
font-weight:bold;
}

table {
  background-color: white !important;
  color: black !important;
  border-collapse:separate;
  border:solid black 1px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  font-size:13px;
}